@font-face{
	font-family: "Archive";
	src: url("../font/Archive.otf");
}

h1{
	font-size:65px;
	font-family: Archive,Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	color: #fff;
	line-height: 75px;
}

h2 {
	text-align: center;
	font-family: Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 45px;
	text-decoration: underline;
	font-style: italic;
	margin: 1px;
}

/*navbar style*/
.navbar-default {
	padding: 25px;
	border-color: transparent;
	background-color: rgba(0,0,0,0.5);
}

.navbar-default .navbar-brand {
	font-family: Helvetica,Arial,sans-serif;	
	font-size: 40px;
	font-weight: bold;
	color: #48D1CC;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
	color: #48D1CC;
}

.navbar-default .nav li a {
	text-transform: uppercase;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
	color: #48D1CC;
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 10px;
	background-color: #48D1CC;
	color: #fff;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #48D1CC;
}

/*header style*/
header{
	background: url(../pic/bg.png) no-repeat;
	background-size: cover;
	height: 650px;
}

.welcomeinfo{
	margin-top: 250px;
	text-align: center;
}

#page-content {
	position: relative;
}

.icon{
	margin: 50px 0px 0px;
	text-align:center
}